numpy>=1.23
pandas>=1.5
scipy>=1.9
matplotlib>=3.6
scikit-posthocs>=0.7
skimage
zarr>=2.13
ome-zarr>=0.7
natsort
oiffile
read_roi
PyQt5
napari[all]
git+https://github.com/RoccoDAnt/napari-superres.git
